:root {
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --cyan: hsl(172, 67%, 45%);
  --hover-bg-color: hsl(173, 61%, 77%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
}

body {
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 3.125em 0 2.5em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  background-color: white;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  color: var(--dark-grayish-cyan);
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.calculator,
.result {
  flex-basis: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: var(--very-light-grayish-cyan);
  border-radius: 5px;
  padding: 0.375rem 1.125rem;
  color: var(--very-dark-cyan);
  text-align: right;
  font-size: 1.5rem;
}

input[type='number']:focus {
  outline: 2px solid #26c2ae;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.375rem;
}

.bill,
.people-count {
  background-repeat: no-repeat;
  background-position: 20px center;
}

.bill {
  background-image: url('images/icon-dollar.svg');
}

.people-count {
  background-image: url('images/icon-person.svg');
}

.radio-buttons {
  margin-top: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
}

label > input[type='radio'] {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

label:has(input:focus-visible) {
  outline: auto;
}

input[type='radio']:checked + .radio-item {
  background-color: var(--cyan);
  color: var(--very-dark-cyan);
}

.radio-item {
  background-color: var(--very-dark-cyan);
  color: white;
  height: 48px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.custom-number {
  text-align: center;
  font-size: 1.35rem;
}

.result {
  background-color: var(--very-dark-cyan);
  padding: 1.5em;
  color: white;
  border-radius: 15px;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25em;
}

.text-muted {
  color: var(--grayish-cyan);
  font-size: 0.875rem;
}

.price {
  color: var(--cyan);
  font-size: 2rem;
}

.btn {
  color: var(--very-dark-cyan);
  width: 100%;
  margin-top: 2rem;
  padding: 0.625rem 0;
  font-size: 1.25rem;
  border: none;
  background-color: var(--cyan);
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:disabled {
  background-color: hsl(183, 79%, 24%);
  color: var(--very-dark-cyan);
  cursor: default;
}

.radio-item:hover,
.btn:not(:disabled):hover {
  background-color: var(--hover-bg-color);
  color: var(--very-dark-cyan);
}

@media (min-width: 920px) {
  .main {
    flex-direction: row;
    border-radius: 25px;
    gap: 2em;
  }

  .calculator {
    gap: 2.5em;
    padding: 1rem;
  }

  .result {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
  }

  .btn {
    margin-top: auto;
  }

  .price {
    font-size: 3rem;
  }

  .image-container {
    padding-top: 1rem;
    padding-bottom: 5.375rem;
    margin-top: -5.5rem;
  }
}
